:root{
    --mainfont: 'Poppins', sans-serif;
}

/* 60/60/59 - Darkgrey */

html{
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--mainfont);
    margin: 0 auto;
    padding: 0;
    width: 83%;
    height: 120vh;
    background-color: rgb(248,248,248);
    
}


/* HEADER */
header{
    border-radius: 6px;
    width: 60%;
    height: 80px;
    background-color: darkgrey;
    margin: 100px auto 30px auto;
    color: rgb(60, 60, 65);
}
#body-container{
    overflow: auto; 
    background-color: white;
    height: 90vh;
    width: 100%;
    border-radius: 3px;
    /* border: 1px solid rgb(165, 227, 71) */
}
#links{
    width: 50%;
    height: 20px;
    margin: 65px auto 0px auto;
}
#links > a{
    text-decoration: none;
    color: white;
    padding: 2px 10px 2px 10px;
    background-color: rgb(165, 227, 71);
    border-radius: 3px;
    border: 1px solid white;
}
#links > a:hover{
    color: white;
    background-color: rgb(0, 180, 193);
    border-radius: 3px;
    border: 1px solid rgb(0, 180, 193);
}
#logo{
    margin: 10px 0px 0px 40px;
    width: 100px;
    position: absolute;
}
div[id="links"] > a:nth-child(n+4){  
    float: right;
    margin-left: 12px;
}
hr{
    width: 60%;
}



form{
    margin: 100px auto;
    background-color: rgb(248,248,248);
    width: 30vh;
    height: 30vh;
    padding: 10px;
    border: solid 1px rgb(0, 180, 193);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
}
form > label{
    border-radius: 5px;
    padding: 5px;
}
form > input{
    width: 80%;
    padding: 5px 10px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form > input[type=submit] {
    color: white;
    padding: 2px 10px 2px 10px;
    background-color: rgb(0, 180, 193);
    border-radius: 5px;
    width: 75px;
}
form > input:nth-child(7){
    height: 20%;
}
/* browse pagina */
#browse-grid{
    width: 75%;
    padding: 100px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    gap:25px;
    max-width: 85%;
}
.overzicht{
    margin: 0px auto;
    width: 75%;
    height: 100%;
    padding: 3px;
    background-color: rgb(230, 225, 225);
    border: solid rgb(0, 180, 193) 2px;
    border-radius: 8px;
}
.overzicht > .img{
    width: 100%;
    max-height: 300px;
    border-radius: 8px;
}
.overzicht > h2{
    padding: 8px;
    margin: 0px;
}
.overzicht > p{
    padding: 8px;
    margin: 0px;
}
.navBar {

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "nav nav";
}

div[class^="nav"] {
    grid-area: nav;
}
div[class^="nav1"] {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}
.nav2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}
.indexwrapper {
    text-align: center;
    margin: 150px auto 0px auto;
    width: 80%;

}
.indexwrapper > h1{

}
.indexwrapper > a{
    text-decoration: none;
    color: white;
    padding: 2px 10px 2px 10px;
    background-color: rgb(0, 180, 193);
    border-radius: 3px;
    border: 1px solid white;
}
#indexbg{
    width: 100%;
    margin: 120px 0px 0px 0px;
}